#receta {
    width: 100%;
    align-content: center;
}

.recipe-container{
    margin-left: 28%;
    max-width: 600px;
}

.banner-recipe {
    .banner-r-recipe{ 
    img {
        width:100%;
    }
  }
}

.pionono-salado {
    position: relative;
    flex-direction: column;
    img {
        width: 515px;
        margin-top:40px;
        margin-left: 40px;
        border-radius: 10%;
    }
    
 }

.recipe {
    margin-left: 40px;
}

.title-recipe {
    max-width: 515px;
    font-size: 12px;
    font-family: $main-font;
}
.title-recipe p {
color: #7f8180;

}
.title-recipe h3 {
    margin-left:10px;
}
.elena {
  color:  #7f8180;
}

.intro {
    border-left: 2px solid $secondary-color;
    padding: 5px 0px 5px 10px;
    max-width: 515px;
    font-size: 12px;
    font-family:$main-font;
}

.ingredients ul {
    margin-left: -30px;
    color: #7f8180;
    font-size: 12px;
    font-family: $main-font;
    list-style: none;    
}

.ingredients li::before {
    content: "•";
    color: $secondary-color;
    width: 1em;
    margin-left: -1em;
}

@media(max-width: 480px) {
     .recipe-container{
        .icons {
        
            top: -35px;
            margin-left: -103px;
            flex-direction: row;
        }
        .fab {
            width: 35px;
            line-height: 35px;
            margin-left: 32px;
            font-size: 28px;
        }
     .receta-img {
        margin-top: 30px;
        margin-left: -97px;
        flex-direction: row;
        width: 400px;
     }
    
    }

    .banner-recipe {
    .home-recipe-icons {
        width: 326px;
        margin-left: 30px;
        line-height: 33px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    .fa-home {
        margin-top: 8px;
     font-size: 15px;
    }
    p {
     font-size: 15px;
    }
    span {
       
     font-size: 15px;
    }
    }
    }

    .recipe {
     margin-left: -100px;
    }
    .title-recipe {
        h3{
            margin-left: 17px;
            font-size: 28px;
        }
       p {
        font-size: 23px;
        margin-right: 5px;
      }   
    }
    .intro {
        p {
            font-size: 23px;
        margin-right: 5px;
        margin-bottom: 0px;
        }
    }
    .ingredients {
         ul {
            font-size: 25px;
            line-height: 40px;
    }
  }
  .maria-icons {
    width: 400px;
   span {
      font-size: 18px;
  }
  .maria-icons-icons {
      font-size: 18px;
  }
}
}
.navegador-mobile a{
    text-decoration: none;
    color: white;
}