#receta {
    width: 100%;
    align-content: center;
}

.recipe-container{
    margin-left: 28%;
    max-width: 600px;
}

.banner-recipe {
    .banner-r-recipe{ 
    img {
        width:100%;
    }
  }
}

.pionono-salado {
    position: relative;
    flex-direction: column;
    img {
        width: 515px;
        margin-top:40px;
        margin-left: 40px;
        border-radius: 10%;
    }
    
 }

.recipe {
    margin-left: 40px;
}

.title-recipe {
    max-width: 515px;
    font-size: 12px;
    font-family: $main-font;
}
.title-recipe p {
color: #7f8180;

}
.title-recipe h3 {
    margin-left:10px;
}
.elena {
  color:  #7f8180;
}

.intro {
    border-left: 2px solid $secondary-color;
    padding: 5px 0px 5px 10px;
    max-width: 515px;
    font-size: 12px;
    font-family:$main-font;
}

.ingredients ul {
    margin-left: -30px;
    color: #7f8180;
    font-size: 12px;
    font-family: $main-font;
    list-style: none;    
}

.ingredients li::before {
    content: "•";
    color: $secondary-color;
    width: 1em;
    margin-left: -1em;
}

@media(max-width: 480px) {
    .recipe-container .icons {
        top: 21px;
       
         flex-direction: row;
         
        }

    .fab {
        width: 30px;
        line-height: 30px;
        margin-left: 10px;
    }
    .recipe-container .receta-img {
        margin-left:20px;
        margin-left: -97px;
        flex-direction: row;
        width: 400px;
   }
.banner-recipe {
   .home-recipe-icons span {
    font-size: 15px;
   }
}
.recipe {
    margin-left: -20px;
}
}
.navegador-mobile a{
    text-decoration: none;
    color: white;
}