.icons {
    position: absolute;
    top: 96px;
    display: flex;
    flex-direction: column;
    margin: 2px;
    .fa-facebook-f{
        color: white; 
        background: #523fff;
    }
    .fa-twitter{ 
        color: white; 
        background: #3fc2ff;
    }
    .fa-google-plus-g{
        color: white; 
        background: #fc8038;
    }
    .fa-instagram{
        color: white; 
        background: #a04e1f;
    }
    .fa-pinterest-p{
        color: white; 
        background: #e93737;
    }
        
    }

.fab {
   
    font-size: 15px;
    padding: 5px;
    width: 19px;
   
    text-align: center;
    line-height: 19px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.maria-icons {
    color: $main-color;
    font-family: $main-font;
    font-size: 9px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    max-width: 515px;
    font-size: 10px;
    margin-left: 2px;
    span{
        font-family: $main-font;
    }
}
.home-recipe-icons {
    display: flex;
    max-width: 990px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: $main-font;
    font-size: 10px;
}
.home-r-icons{
    color: $main-color;
    font-size: 10px;
    font-family: $main-font;
}

