.footer-list { 
    display: flex;
        color: $main-color;
        margin-bottom: 10px;
        margin-top: 30px;
        padding: 0;
        list-style: none;
        justify-content: space-evenly;
        border-bottom: 1px solid rgba(105, 105, 105, 0.479);
        li{
            letter-spacing: 8pt;
        }
        span{
            font-family: $main-font;
            letter-spacing: 0pt;
            font-size: 12px;
        }
}
