.footer-links{
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-list { 
    display: flex;
        color: $main-color;
        max-width: 990px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        justify-content: space-between;
        border-bottom: 1px solid rgba(105, 105, 105, 0.479);
        li{
            letter-spacing: 8pt;
        }
        span{
            font-family: $main-font;
            letter-spacing: 0pt;
            font-size: 12px;
        }
}
